body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* Estilos para el botón de cierre de sesión */
.btn-logout {
    background-color: #ff0000; /* Cambia el color de fondo a tu elección */
    color: #fff; /* Cambia el color del texto a tu elección */
    border: none;
    padding: 5px 10px; /* Ajusta el espaciado interno según tus necesidades */
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
    position: fixed;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la derecha según tus necesidades */
}

.btn-logout:hover {
    background-color: #cc0000; /* Cambia el color de fondo al pasar el cursor */
}
